*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: 'Gilda Display', serif;
}

header, footer {
    background-color: rgba(41, 79, 112, 1);
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-content: center;
}

a {
    color: rgba(210, 216, 218, 1);
}
.page {
    max-width: 960px;
    margin: 1rem auto;
}

#copyright {
    color: white;
}

p, h2 {
  color: rgba(26, 15, 5, 1);  
}

h1 {
background-color: rgba(26, 15, 5, 1);
color: rgb(210, 216, 218);
display: flex;
align-items: center;
justify-content: center;
}

div.social {
    margin: 0.25rem;
}

.text1 img {
    margin: 0.5rem;
    border: 1px solid rgba(26, 15, 5, 1);
    padding: 0.25rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(26, 15, 5, 1);
}